<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Blog dla programistow</title>
</head>
<body>
    <div>
        <h1>Witam na stronie bloga</h1>
        <h2>Witam na stronie bloga</h2>
        <h3>Witam na stronie bloga</h3>
        <h4>Witam na stronie bloga</h4>
    </div>
    <div>
        <p>To jest akpit</p>
        <em>Kursywa pochylony tekst</em><br><br>
        <strong>TO JEST STRONG</strong>
        <a href="https://strefakursow.pl" target="_blank" >LINK</a>
        <ul>
            <li>Mateusz to pancio</li>
            <li>Mateusz to super gosc</li>
            <li>Mateusz to boss</li>
        </ul>
    </div>
</body>
</html>