<!DOCTYPE html>
    <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <title>Blog dla programistów</title>
        </head>
    <body>
    <div>
        <h1>Witam na stronie bloga!</h1>
        <h2>Blog o programowaniu!</h2>
        <h3>Autor:Mat Mat</h3>
        <h4>Witam na stronie bloga!</h4>
    <div>
    <div>
        <p>to jest akapit</p>
        <em>To jest wyrozniony tekst</em><br>
        <strong>TU jest pogrubiony</strong><br>
        <a href="http://strefakursów.pl">LINK</a>
        <ul>
            <li>elment listy</li>
            <li>elment listy</li>
            <li>elment listy</li>
        </ul>
    <div>
</body>
</html>